<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="An example of a fixed-position(sticky) top navigation bar that remains visible while the user scrolls the page.">
<meta name="author" content="Six Revisions">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('menu.static', filename='css/menu.css') }}"/>

{% endblock %}


<link rel="shortcut icon" href="https://sixrevisions.com/favicon.ico">
<header>
    <nav class="fixed-nav-bar">
        <div id="menu" class="menu">
             <a class="show" href="#menu">תפריט</a><a class="hide" href="#hidemenu">תפריט</a>
            <ul class="menu-items">
                <li><a href="/">דף הבית</a></li>
                <li><a href="/about">אודות</a></li>
                <li><a href="/products">מוצרים</a></li>
                <li><a href="/appointment">קבע תור</a></li>
                <li><a href="/contact_us">צור קשר</a></li>
                <li><a href="/registeration">הרשמה</a></li>
                <li><a href="/reviews">ביקורות</a></li>
                {% if session.username %} <a href="/logout">התנתק</a> {% else %}  <a href="/login">התחבר</a> {% endif %}

            </ul>
        </div>
    </nav>
    <section class="NaviMap">
    <div class="Maps">
    <h1></h1>
    </div>
</section>
</header>


